*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  
}

.parent-class{
  background-image: url("./assets/background.gif");
  height: 100vh;
  width: 100vw;
}
.header-container{
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: space-around;
}
.pic-logo{
  
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  
  color: rgb(81, 27, 229);
}
.pic-logo img{
  width: 50px;
  border: 1px solid rgb(128, 128, 239);
  height: 50px;
  border-radius: 50%;
}

.nav-link{
 
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 25px;
}

.contact-box{
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 15px;
 
  
}
.contact-box a{
  border: 1px solid rgb(128, 128, 239);
  padding: 5px;
  font-size: 14px;
}

.hero-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.left-container, .right-container{
  margin-top: 150px;
}
.left-container img{
  width: 400px;
}

.right-container{

  padding-top: 30px;
  max-width: 500px;
}

.button-box{
  margin-top: 20px;
  display: flex;
  gap: 20px;

}

@media only screen and (max-width: 600px) {
  .hero-container{
    flex-direction: column;
    gap: 40px;
  }
  .left-container, .right-container{
    margin-top: 150px;
  }
  .left-container img{
    width: 400px;
  }
  
  .right-container{
  
    padding-top: 30px;
    max-width: 500px;
  }
}